/******************** FONTS ********************/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

/******************** VARS ********************/

$verde: #78B33E;
$white: #fff;
$black: #000;
$Rosa: #f6cdd9;
$Cinza: #9d9ba0;

$text: #515865;

$Roboto: 'Roboto', sans-serif;
$Bad: 'Bad Script', cursive;

/******************** BASE ********************/

* { outline: transparent; }

html, body {
    color: $text;
    min-width: 320px;
    letter-spacing: 3.7px;
    font-family: $Roboto;
    font-size: 16px;

    // line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $Roboto;
    margin-bottom: 30px;
    margin-top: 0;

    font-weight: 800;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h6 { font-size: 16px; }

a {
    color: #222;
    text-decoration: none !important;
    transition: color .2s ease-in-out, background .2s ease-in-out;
    &:hover {
        color: $Rosa;
    }
}
p{
  line-height: 25px;
}
p:last-child { margin-bottom: 0; }

section {
    padding: 30px 0;
}

/******************** CLASSES ********************/
.nopadding { padding: 0; }

.row.rowflex { display: flex; }
@media (min-width: 768px) { .row.rowflex-sm { display: flex; } }
@media (min-width: 992px) { .row.rowflex-md { display: flex; } }
@media (min-width: 1200px) { .row.rowflex-lg { display: flex; } }

// figures

figure.fit {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.text-center{
  text-align: center;
}
.clear{
  clear: both;
}
/******************** HEADER ********************/
#header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background .6s ease-in-out;
    z-index: 3;
    .navbar-brand {
        height: auto;
        padding: 23px 0;
        transition: padding .4s ease-in-out;
        img{width: 80%;transition: width .4s ease-in-out;}
    }

    .dropdown-submenu {
    position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        //display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    .nav>li>a:hover, .nav>li>a:focus{
      background: transparent; 
    }
    .open{
      ul{
        margin-top: -23px !important;
      }
    }
    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
      background: transparent;
    }
    
    .navbar-header {
        #menu-toggle {
            background: transparent;
            border: 0;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 15px;
            padding: 6px;
            margin: 15px 0;
            margin-left: 20px;
            outline: transparent !important;
            vertical-align: bottom;
            transition: margin .4s ease-in-out;

            .icon-bars {
                background: #73c4dd;
                display: block;
                position: relative;
                height: 3px;
                transition: background .6s ease-in-out 0s;
                
                &:before, &:after {
                    content: '';
                    background: #73c4dd;
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 100%;
                }

                &:before {
                    top: -8px;
                    transition-property: top, transform, background;
                    transition-duration: .3s, .3s, .6s;
                    transition-delay: .3s, 0s, 0s;
                    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
                }
                &:after {
                    bottom: -8px;
                    transition-property: bottom, transform, background;
                    transition-duration: .3s, .3s, .6s;
                    transition-delay: .3s, 0s, 0s;
                    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
                }
            }

        } // toggle
    }

    #menu {
        float: right;
        ul {
            list-style: none;
            font-size: 16px;
            padding: 0;
            margin: 0;

            & > li {
                float: left;
                // margin-left: 4px;

                transition: background .2s ease-in-out, color .2s ease-in-out;

                &:first-of-type { margin-left: 0; }

                &:hover {
                    // background: $dkGreen;

                    // & > a { color: $white; }
                }

                & > a {
                    color: $white;
                    display: block;
                    padding: 50px 10px;
                    
                    line-height: 30px;
                    font-size: 16px;
                    text-decoration: none !important;
                    text-align: center;

                    transition: color .2s ease-in-out, padding .4s ease-in-out;

                    position: relative;

                    &:hover { color: $Rosa; }
                }
            }
        }
    }

}

/******************** BANNER ********************/

.top-banner { 
  height: 100%; height: 100vh; background-size: cover;background-attachment: fixed;
  position: relative;
  
  &:before{
    content: '';
    background: rgba(0, 13, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .caption{
    color: $white;
    position: fixed;
    width: 75%;
    top: 300px;
    left: 50%;
    margin-left: -37.5%;
    .banner-caption { 
      font-size: 24px;
      color: $white;
      line-height: 57px;
      font-weight: 100;
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
}

/******************** SESS1 HOME ********************/
#sess1-home{
  background: $Rosa;
  position: relative;
  text-align: center;
  padding-top: 50px ;
  &:after{
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid $Rosa;
    content: "";
    position: relative;
    top: 80px;
    z-index: 1;
  }
  h2{
    color: $white;
    background-color: transparent;
    font-weight: 600;
    line-height: 31px;
    font-size: 26px;
    margin-bottom: 10px;
    font-family: $Bad;
  }
  p{
    color: $white;
  }
}

/******************** SESS2 HOME ********************/
#ultimos-home{
  position: relative;
  text-align: center;
  padding-top: 0;
  margin-bottom: 60px; 
  figure.fit{
    padding-bottom: 70%;
    &:before{
      content: '';
      background: rgba(0, 13, 33, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: 0.9s; 
      -moz-transition: 0.9s; 
      -ms-transition: 0.9s; 
      -o-transition: 0.9s; 
      transition: 0.9s; 
    }
    figcaption{
      color: white;
      position: relative;
      font-size: 2.5rem;
      letter-spacing: 1px;
      position: absolute;
      top: 50%;
      left: 0%;
      width: 100%;
      margin: 0;
      .titulo{
        font-size: 2.5rem;
        letter-spacing: 1px;
        font-family: $Bad; 
        position: absolute;
        font-weight: 100;
        top: 50%;
        left: 0%;
        width: 100%;
        margin: 0;
        transform: translate(0%,-50%);
        -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      .categoria{
        opacity:0;
        font-size: 15px;
        -webkit-transition: 0.2s; 
        -moz-transition: 0.2s; 
        -ms-transition: 0.2s; 
        -o-transition: 0.2s; 
        transition: 0.2s; 
      }
    }
  }
  a{
    &:hover{
     figure.fit{
        &:before{
          content: '';
          background: rgba(115, 196, 221, 0.4);
       }
      } 
      .titulo{
        top: -30px !important;
        position: absolute;
      } 
      .categoria{
        opacity:1 !important;
        transform: translateY(0%);
      }
    }
  }
  .see-more{
    padding: 20px;
    top: 35px;
    position: relative;
    border: solid 3px $Rosa;
    &:hover{
      background: $Rosa;
      color: $white; 
    }
  }
}

#posts-recentes{
  position: relative;
  background: url(assets/img/fundo.jpg)no-repeat; 
  background-size: cover;
  h2{
    font-family: $Bad;
    text-align: center;
    font-weight: 100; 
  }
  .boxnews{
    background: rgba(115, 196, 221, 1);
    margin-bottom: 10px;
    figure.fit{
      padding-bottom: 60%; 
    }
    figcaption{
      padding: 15px;
      text-align: center;
      padding-bottom: 30px;
      h3{
        font-family: $Bad;
        color: $white;
      }
      p{
        color: $white;
      }
      .see-more{
        padding: 10px;
        top: 10px;
        position: relative;
        border: solid 3px #f6cdd9;
        display: inline-flex;
        color: $white;
        &:hover{
          background: $Rosa;
          color: $white; 
        }
      }
    }
  }
}

#nossos-servicos{
  background: #F6F6F6;
  position: relative;
  text-align: center;
  padding-bottom: 0;
  h2{font-family: $Bad;font-weight: 100; }
  figure.fit{
    padding-bottom: 70%;
    &:hover{
      .service-hover{
        padding-left: 30px;
        padding-right: 30px;
        width: 60%;
      }
    }
  }
  .service-hover{
    background: rgba(134, 199, 226, 0.7);
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    right: 0px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    .post-title {
      display: table;
      width: 100%;
      height: 100%;
      font-weight: normal;
      font-family: $Bad;
    }
    .table_cell {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 32px;
        line-height: normal;
        color: #ffffff;
        font-family: 'Bad Script', cursive;
        text-align: center;
        line-height: 1.2;
    }
  }
}

#parceiros-home{
  position: relative;
  text-align: center;
  background: url(assets/img/azul.jpg)no-repeat; 
  background-size: cover;
  h2{font-family: $Bad;font-weight: 100; }
  figure.fit{padding-bottom: 70%;}
  #home-clientes-carousel .owl-stage {
    margin-top: 20px;
    display: flex;
    align-items: center; }
  #home-clientes-carousel .owl-dots {
    text-align: center;margin-top: 20px; }
    #home-clientes-carousel .owl-dots .owl-dot {
      background: #fff;
      display: inline-block;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      margin-right: 8px;
      transition: background .2s ease-in-out, border-color .2s ease-in-out; }
      #home-clientes-carousel .owl-dots .owl-dot:last-of-type {
        margin-right: 0; }
      #home-clientes-carousel .owl-dots .owl-dot.active {
        background: $Rosa;
        border: 2px solid #fff; }
}

#depoimentos{
  position: relative;
  text-align: center;
  background: url('assets/img/jenifer_e_mark_gest.JPG')no-repeat;
  min-height: 300px; 
  color: $white;
  &:before{
    content: '';
    background: rgba(0, 13, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h2{font-family: $Bad;font-weight: 100;color: $white; }
  #home-depoimentos-carousel .owl-stage {
    margin-top: 20px;
    display: flex;
    align-items: center; }
  #home-depoimentos-carousel .owl-dots {
    text-align: center;margin-top: 20px; }
    #home-depoimentos-carousel .owl-dots .owl-dot {
      background: #fff;
      display: inline-block;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      margin-right: 8px;
      transition: background .2s ease-in-out, border-color .2s ease-in-out; }
      #home-depoimentos-carousel .owl-dots .owl-dot:last-of-type {
        margin-right: 0; }
      #home-depoimentos-carousel .owl-dots .owl-dot.active {
        background: $Rosa;
        border: 2px solid #fff; }
}

#cta-home{
  position: relative;
  text-align: center;
  background: url('assets/img/samuel_bruna_ric_244.jpg')no-repeat;
  min-height: 300px; 
  color: $white;
  &:before{
    content: '';
    background: rgba(0, 13, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h2{font-family: $Bad;font-weight: 100;color: $white; }
  .see-more{
    padding: 10px;
    top: 10px;
    position: relative;
    border: solid 3px #f6cdd9;
    display: inline-flex;
    color: $white;
    &:hover{
      background: $Rosa;
      color: $white; 
    }
  }
}  

#instagram{
  position: relative;
  h2{font-family: $Bad; font-weight: 100;color: #fff;font-size: 70px;margin-bottom: 0;text-align: right; }
  .header{
    background: $Rosa;
    padding: 30px;
  }
}

.sobre-boxes .atividades { background: #FFF; }
.sobre-boxes .atividades h2{ font-family: $Bad;font-weight: 100; }
.sobre-boxes .atividades .imagematividade { background-image: none; height: 470px; z-index: 0; background-attachment: scroll; background-size: auto; background-size: cover; }
.sobre-boxes .atividades .descricaoatividade { padding: 85px; height: 470px; }
.sobre-boxes .atividades .box-atividade:nth-child(even) .imgdest { float: right; }
.sobre-boxes .atividades .box-atividade:nth-child(even) .descricaoatividade { background: $Rosa; }
.sobre-boxes .atividades .box-atividade:nth-child(even) .descricaoatividade p, .sobre-boxes .atividades .box-atividade:nth-child(even) .descricaoatividade h2 { color: white; }
.no-padding { padding: 0; }
/******************** PRE FOOTER ********************/
#pre-footer{
  position: relative;
  background: url(assets/img/fundo.jpg)no-repeat; 
  background-size:cover;
  text-align: center;
  .social{
    li{
      display: inline-block;
      margin: 15px;
      &:first-child{
        margin-left: 0px;
      }
      a{
        font-size: 30px;
        color: $Rosa;
        &:hover{
          color:#73c4dd;
        }
      }
    }
  }
  img{
    margin-bottom: 10px ;
  }
  strong{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }
  p{
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
  }
  h3{
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 22px;
    font-family: $Bad; 
  }
  ul{
    padding: 0;
    li{
      list-style:none;
      margin-bottom: 5px;  
    }
  }
}
footer{
  background-color: #73c4dd;
  padding: 15px ;
  position:relative;
  p{
    text-align: center;
    color: $white;
  }
}
/******************** SINGLE ********************/


.top-banner-serv { 
    height: 100%; height: 57vh; background-size: cover; background-attachment: fixed; position: relative;
    &:before { content: ''; background: rgba(0, 13, 33, 0.4); position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    .caption { 
      color: #fff; position: fixed; width: 75%; top: 200px; left: 50%; margin-left: -37.5%; 
      .banner-caption { font-size: 48px; font-weight: 300; margin-bottom: 75px; }
    }
}

.single-page{
  background: #F6F6F6;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  h2{font-family: $Bad;font-weight: 100; }
  figure.fit{
    padding-bottom: 70%;
    &:hover{
      .service-hover{
        padding-left: 30px;
        padding-right: 30px;
        width: 60%;
      }
    }
  }
  iframe{
    margin-top: 40px;
  }
} 
.info{
  text-align: left;
  margin-top: 40px;
}
.formulario{
  margin-top: 40px;
  input,textarea{
    border-radius: 0;
  }
  .see-more {
    padding: 10px;
    top: 10px;
    position: relative;
    border: none;
    background: #f6cdd9;
    width: 100%;
    color: #fff;
    &:hover{
      background: #73c4dd;
    }
  }
}


@media (min-width: 768px) {

    #header.top-fixed {
        box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        background: rgba(134, 199, 226, 0.7);
        border-bottom: none;
        .navbar-brand {
            padding: 15px 0;
            img{width: 60% }
        }

        #menu ul > li > a {
            // padding-top: 20px;
            // padding-bottom: 20px;
        }
    }

}

#header.open {
    .navbar-header {
        #menu-toggle {
            .icon-bars {
                background: transparent !important;

                &:before {
                    // background: $menu-text;
                    top: 0;
                    transform: rotate(45deg);
                    transition-delay: 0s, .3s;
                }
                &:after {
                    // background: $menu-text;
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition-delay: 0s, .3s;
                }
            }
        }
    }
}



/******************** RESPONSIVO ********************/

// XS
@media (max-width: 767px) {

    /***** BASE *****/

    body { padding-top: 70px; }

    h1 { font-size: 42px; }
    h2 { font-size: 36px; }
    h3 { font-size: 28px; }
    h6 { font-size: 16px; }


    /***** HEADER *****/
    .top-banner .caption{
      top: 100px; 
    }
    .top-banner .caption .banner-caption{
      font-size: 18px; 
    }
    #header {
        box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
        background: #2A2D33;
        .navbar-brand {
            padding: 17px 0;
            margin-left: 15px;

            img {     height: 50px;width: auto; }
        }

        #menu {
            background: #2A2D33;
            border-top: solid 5px #73c4dd;
            float: none;
            position: fixed;
            top: 70px;
            left: 100%;
            bottom: 0;
            width: 100%;

            transition: left .6s ease-in-out, top .4s ease-in-out;

            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                width: 100%;
                padding: 0;

                & > li {
                    float: none;
                    margin: 0;

                    & > a {
                        padding: 8px 15px;
                        margin-bottom: 2px;
                        margin-left: 0;

                        &:after { content: none; }

                        &:before {
                            content: '';

                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            height: 20px;

                            border-left: 14px solid #73c4dd;

                            transform: translateY(-50%);
                        }
                    }

                    &:last-child > a { margin-bottom: 0; }
                }
            }
        }

        &.open #menu {
            left: 0%;
        }
    }
    #home-depoimentos-carousel p{font-size: 14px; }
    #depoimentos{ height: 500px; }
    #instagram img{max-width: 100%;height: auto;}
    #instagram h2{font-size: 48px;}
    #pre-footer h3{margin-top: 20px;}
    #parceiros-home figure.fit{padding-bottom: 50%;width: 50%;margin: 0px auto;}

    .sobre-boxes .atividades .descricaoatividade{height: auto;padding: 45px;}
}

// SM
@media (min-width: 768px) and (max-width: 991px) {

    /***** HEADER *****/

    #header {
        .navbar-brand {
            padding: 25px 0;

            img { /*height: 36px;*/ }
        }

        #menu {
            ul {
                font-size: 14px;

                & > li > a { padding: 28px 12px; }
            }
        }
    }

}

// MD
@media (min-width: 768px) and (max-width: 991px) {

}

// LG
@media (min-width: 768px) and (max-width: 991px) {

}